* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

/* thuộc tính chung */
.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.clear::after {
    clear: both;
}

/* css */

/* header */
#header {
    background-color: #000;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.header__list {
    display: flex;
    justify-content: space-evenly;
}

.header__list a {
    width: 25%;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    padding: 14px 50px;
}

.header__list a:hover {
    background-color: #ccc;
    color: #000;
}
.mobile__bar {
    font-size: 26px;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 8px 16px;
    display: none;
}

.mobile__bar:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.nav__mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    background-color: #fff;
    transform: translateX(100%);
    z-index: 1;
    transition: transform linear 0.5s;
}
.nav__mobile-list {
    list-style: none;
    margin-top: 48px;
}
.nav__mobile-list a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    line-height: 50px;
    padding: 8px 16px 8px 32px;
    display: block;
}
.nav__mobile-list a:hover {
    background-color: #ccc;
}
.mobile__close {
    position: absolute;
    font-size: 32px;
    color: #000;
    top: 0;
    right: 0;
    font-weight: 200;
    cursor: pointer;
    padding: 8px 16px;
}
.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.3s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#nav__input:checked ~ .nav__overlay {
    display: block;
}

#nav__input:checked ~ .nav__mobile {
    transform: translateX(0%);
}
/* img */
.main-img img {
    margin-top: 50px;
    width: 100%;
    display: block;
}

/* introduce */
.introduce {
    padding: 64px 0;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.heading-text {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 48px;
}

.introduce h2 {
    font-size: 32px;
    font-weight: 300;
}

.introduce .sub-heading {
    font-style: italic;
}

.introduce .introduce__heading {
    text-align: left;
    margin: 32px 0 32px;
}

.introduce__yourself {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 50px;
    text-align: start;
}

.introduce__yourself li {
    margin-bottom: 5px;
}

.introduce__yourself li p{
    display: inline;
    font-weight: 400;
    color: #000;
    margin-left: 10px;
}

.introduce__yourself-link {
    color: #000;
}

/* .introduce__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */

.introduce__img {
    overflow: hidden;
    border-radius: 5px;
}
.introduce__items img {
    height: 200px;
    width: 100%;
    display: block;
    position: relative;
    opacity: 1;
    transition: transform linear 0.3s, opacity linear 0.3s;
}

.introduce__items img:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.introduce__items h2 {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 0;
}

.background-black {
    width: 100%;
    background-color: #000;
}

.photos {
    text-align: center;
    padding: 64px 0;
}

.photos__list {
    margin-top: 64px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: flex-wrap 1s linear;
}

.photo__item {
    margin-top: 30px;
    width: 300px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    top: 0;
    transition: top 0.5s linear, opacity 0.3s linear;
}

.photo__item img {
    border-radius: 5px;
    width: 100%;
    display: block;
}

.photo__item:hover {
    opacity: 0.8;
    top: -22px;
}

/* contact */
.contact {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    padding: 64px 0;
}

.contact__Social-list {
    margin-top: 32px;
    padding: 0 8px;
}

.contact__Social-item {
    height: 280px;
    margin-top: 32px;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 0;
    transition: top 0.5s linear, opacity 0.3s linear;
}

.contact__Social-list a {
    text-decoration: none; 
}

.contact .contact__Social-item:hover {
    opacity: 0.8;
    cursor: pointer;
    top: -10px;
}


.Social-icon {
    font-size: 48px;
    color: #fff;
    align-self: center;
}

.Social--fb {
    background-color: #1094F4;
}

.Social--ins {
    background-color: #E1306C;
}

.Social--ytb {
    background-color: #FF0000;
}

.Social--soundcloud {
    background-color: #FF6500;
}

.Social--twitter {
    background-color: #1DA1F2;
}

.Social--mail {
    background-color: #FBBC05;
}

/* footer */
#footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 16px 0;
    text-align: center;
    position: relative;
    bottom: 0;
}